.Rodape {
    height: 70vh;
    width: 100%;
    background-color: #0c0a33;
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

.Conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    height: 100%;
    padding: 70px;
}

.Texto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 50%;
    width: 90%;
    color: #fff;
}

.Texto h1 {
    font-size: 40px;
}

.Texto p {
    color: #D9E1FF;
    font-size: 22px;
}

.Cards {
    width: 100%;
    display: flex;
    color: #D9E1FF;
    height: 40%;
    gap: 30px;
}

.Card {
    width: 33%;
    height: 100%;
}

.Card h2 {
    font-size: 27px;
    padding-bottom: 20px;
    width: 90%;
}

.Card a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.Card a:hover {
    text-decoration: underline;
    color: aqua;
}

.email {
    word-break: break-all;
}


@media (max-width: 850px) {

    .ES {
        padding: 10px;
    }

    .Conteudo {
        padding: 10px 10px;
        width: 100%;
        gap: 0;
    }

    .Cards {
        width: 100%;
    }

    .imagem {
        height: 80%;
        width: 55%;
    }

    .Card a {
        font-size: 15px;
    }
}


@media (max-width: 450px) {

    .Rodape {
        height: 120vh;
    }

    .Texto {
        width: 100%;
        height: 40%;
    }

    .Texto h1 {
        font-size: 33px;
    }


    .Conteudo {
        padding: 10px 10px;
        width: 100%;
    }

    .Cards {
        width: 100%;
        flex-direction: column;
    }

    .Card {
        width: 100%;
    }

    .Card a {
        font-size: 18px;
    }

}



@media (width > 1200px) {

    .Conteudo {
        width: 100%;
    }

}