.CT{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    height: 25%;
}

.Conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    height: 100%;
    padding: 70px;
}

.Texto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 50%;
    width: 90%;
    color: #fff;
}

.Texto h1{
    font-size: 50px;
}

.Texto p{
    color: #D9E1FF;
    font-size: 18px;
}

.Cards{
    width: 100%;
    display: flex;
    color: #D9E1FF;
    height: 40%;
    gap: 40px;
}

.Card{
    width: 33%;
    height: 100%;
}

.Card h2 {
    font-size: 29px;
    padding-bottom: 20px;
    width: 90%;
}

.Card p{
    font-size: 20px;
}


@media (max-width: 850px) {
    
    .CT{
        padding: 20px;
    }

    .Conteudo {
        padding: 10px 10px;
        width: 100%;
    }

    .Cards{
        width: 100%;
    }

    .imagem{
        height: 80%;
        width: 55%;
    }
}


@media (max-width: 450px) {

    .Conteudo {
        width: 90%;
        height: 90%;
        padding: 10px;
        gap: 180px;
    }

    .Texto{
        width: 100%;
        height: 30%;
    }

    .Texto h1{
        font-size: 40px;
    }

    .Cards{
        flex-direction: column;
        gap: 30px;
    }

    .Card{
        width: 100%;
    }
}

@media ((width > 1200px) and (height < 900px)) {
    
    .CT{
        gap: 400px;
    }
  
  }