.Conteudo{
    height: 250vh;
    width: 100%;
    background-color: #0c0a33;
}

@media (max-width: 450px) {

    .Conteudo {
        height: 500vh;
    }
}


@media (width > 1200px) {

    .Conteudo {
        height: 350vh;
    }
}

@media ((width > 1100px) and (height < 800px)) {
    
    .Conteudo{
      height: 390vh;
      gap: 20px;
    }
  
  }