.Desenvolvimento {
    height: 50%; /*era 50%*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 20px;
}

.img {
    height: 90%;
    width: 30%;
}

.Sobre {
    width: 40%; /*era 40%*/
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.Texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 20%;
    width: 90%;
}

.Texto h1 {
    font-size: 50px;
    width: 100%;
}

.Texto p {
    color: #D9E1FF;
    font-size: 18px;
}

.Card {
    display: flex;
    gap: 20px;
    align-items: center;
}

.CardTexto {
    color: #D9E1FF;
}

.CardTexto p {
    width: 90%;
}

.Formato {
    width: 120px;
    height: 150px; /*era 150px*/
    background-color: #2d2252;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    clip-path: polygon(25% 12%, 50.0% 22%, 75% 12%, 100% 0%, 100% 36%, 100% 78%, 50% 100%, 0% 75%, 0% 36%, 0% 0%);
}



@media (max-width: 850px) {

    .img {
        display: none;
    }

    .Sobre {
        width: 90%;
    }

    .Qualidades {
        width: 100%;
    }
}


@media (max-width: 460px) {

    .Sobre {
        gap: 20px;
    }

    .CardTexto {
        width: 50%;
    }

    .Formato {
        width: 30%;
    }

    .Texto h1 {
        font-size: 40px;
    }
}


@media ((width > 1100px) and (height < 800px)) {
    
    .Card {
        height: 25%;
    }

    .CardTexto {
        width: 70%;
    }

    .Formato {
        width: 20%;
    }

    .Qualidades {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
  
  }


@media (width > 1200px) {

    .Card {
        height: 25%;
    }

    .CardTexto {
        width: 70%;
    }

    .Formato {
        width: 20%;
    }

    .Qualidades {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}